@page "/"

@{
    <div class="row justify-content-center mt-3">
        <div class="col-12">
            <div class="list-group list-group-flush">
                
            </div>
        </div>
    </div>
}