@inherits LayoutComponentBase

<div class="sticky-top" style="margin-left:0px">
    <header class="navbar navbar-dark sticky-top" style="background-color:#003468">
        <div class="container-xl">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                Grandse POS Systems
            </h1>
        </div>
    </header>
</div>
<main style="margin:0px 10px 0px 10px">
    @Body
</main>